body {
background: #87cefa;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: #003366;
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: #ff9999;
}
.assign img {
width: 200px;
padding: 10px;
}
.assign {
width: 20%;
box-shadow: 8px 8px [pick a color];
display: block; /* instead of flex */
border-radius: 20px; /* set last assignment */
}
body {
display: flex;
flex-wrap: wrap;
}
h1 {
width: 100%;
display: block;
}



